service: image-service
app: dah-order
org: dahorder
frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'prod'}
  region: ${opt:region, 'ap-southeast-1'}
  profile: dahorder2
  httpApi:
    cors: true
  apiGateway:
    shouldStartNameWithService: true
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "s3:GetObject"
        - "s3:PutObject"
        - "s3:PutObjectAcl"
      Resource:
        - arn:aws:s3:::${self:custom.s3.bucket}/*

  environment:
    UPLOAD_BUCKET: ${self:custom.s3.bucket}
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}

functions:
  getUploadURL:
    handler: src/functions/getUploadURL.handler
    events:
      - http:
          path: /image/url
          method: get
          cors: true

resources:
  Resources:
    S3Bucket:
      Type: AWS::S3::Bucket
      Properties:
        AccessControl: "PublicReadWrite"
        BucketName: ${self:custom.s3.bucket}
        CorsConfiguration: 
          CorsRules: 
            - AllowedHeaders: 
              - '*'
              AllowedMethods: 
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              AllowedOrigins: 
                - '*'
              ExposedHeaders:
                - Content-Type
                - Content-Length
              Id: ImageServiceCorsRule
              MaxAge: 3600     

plugins:
  - serverless-pseudo-parameters
  - serverless-mocha

custom:
  s3:
    bucket: dah-order-images-prod-${self:provider.stage}-${self:provider.region}
  serverless-mocha-plugin:
    testTemplate: ../templates/test-template.ejs
    functionTemplate: ../templates/function-template.ejs