@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

$primary-color: #fff6c7;
$secondary-color: #ffcd1e;
$background-opacity: 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@function set-text-color($color){
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 570px) {
      @content;
    }
  }
  
  @mixin mediaMd {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      @content;
    }
  }
  
  @mixin mediaXl {
    @media screen and (min-width: 1171px) {
      @content;
    }
  }