@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

// $color-primary-0: #ED720B;	// Main Primary color */
// $color-primary-1: #FFAD69;
// $color-primary-3: #F9933E;
// $color-primary-0: #BA5602;
// $color-primary-4: #924200;

// $color-primary-0: #FF8017;	// Main Primary color */
// $color-primary-1: #FFE1C8;
// $color-primary-2: #FFA860;
// $color-primary-3: #D25F00;
// $color-primary-4: #A04900;

$color-primary-0: #E9750B;	// Main Primary color */
// $color-primary-1: #FFB066;
$color-primary-1: #fff;
$color-primary-2: #F8963C;
$color-primary-3: #B85902;
$color-primary-4: #904500;

$background-opacity: 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@function set-text-color($color){
    @if (lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 570px) {
      @content;
    }
  }
  
  @mixin mediaMd {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      @content;
    }
  }
  
  @mixin mediaXl {
    @media screen and (min-width: 1171px) {
      @content;
    }
  }