// Menu Button
.menu-btn {
    background-color: $color-primary-3;
    padding: 1em;
    margin: 0.25em;
    z-index: 3;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;//set-text-color($color-primary-0);
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
            transform: rotate(45deg) translate(8px, 8px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
            opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
        }
        }
    }
}
  
  // Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    z-index: 2;
    &.show {
        visibility: visible;
    }

    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken(#000, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
        }

        :last-child{
            margin-bottom: 4em;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        
        &.show {
        // Slide in from right
        transform: translate3d(0, 0, 0);
        }

        &.current > a {
        color: $color-primary-3;
        }
    }

    .nav-link {
        display: block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: $color-primary-0;
        text-decoration: none;
        @include easeOut;

        &:hover {
        color: $color-primary-3;
        }
    }
}
  
  // Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}